/*Created with Adobe RoboHelp 2019.*/
body {
  font-family: Segoe UI;
  background-color: #ffffff;
  font-size: NaNpt;
  border-width: 1px;
  border-style: none;
  border-color: #000000;
}
h1 {
  font-family: Segoe UI;
  font-weight: bold;
  font-size: 24pt;
}
h2 {
  font-family: Segoe UI;
  font-weight: bold;
  font-size: 18.0pt;
}
h3 {
  font-family: Segoe UI;
  font-weight: bold;
  font-size: 14.0pt;
  font-family: Segoe UI;
}
h4 {
  font-family: Segoe UI;
  font-weight: bold;
  font-size: 12.0pt;
  background-color: #f0f0f0;
}
h5 {
  font-family: Segoe UI;
  font-weight: bold;
  font-size: 10.0pt;
}
h6 {
  font-family: Segoe UI;
  font-weight: bold;
  font-size: 8.0pt;
}
p {
  font-family: Segoe UI;
  font-size: 12pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
}
p.BottomMargin {
  font-family: Segoe UI;
  font-size: 12pt;
  margin-top: 0pt;
  margin-bottom: 4pt;
}
a.expandspot {
  color: #008000;
  cursor: hand;
  font-style: italic;
  text-decoration: none;
}
span.expandtext {
  font-style: italic;
  font-weight: normal;
  color: #ff0000;
}
a.dropspot {
  cursor: hand;
  color: #008000;
  font-style: italic;
  text-decoration: none;
}
a.glossterm {
  color: #800000;
  cursor: hand;
  font-style: italic;
  text-decoration: none;
}
span.glosstext {
  font-style: italic;
  font-weight: normal;
  color: #0000ff;
}
ol,
li {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Segoe UI;
}
ol {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Segoe UI;
}
ul {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Segoe UI;
}
ol.Decimal {
  list-style-type: decimal;
}
ul.Disc {
  list-style-type: disc;
}
ul.Circle {
  list-style-type: circle;
}
:root {
  --borderonly-theme-color: #bfbfbf;
  --thickhdr-theme-color: rgba(244, 176, 131, 1);
  --thickhdr-brdr-color: rgba(244, 176, 131, 0.5);
}
table.borderonly {
  border-collapse: collapse;
}
table.borderonly td {
  padding-top: 2px;
  padding-right: 4px;
  padding-bottom: 2px;
  padding-left: 4px;
  border-width: 1px;
  border-style: solid;
  border-color: var(--borderonly-theme-color);
}
table.thickhdr {
  border-collapse: collapse;
}
table.thickhdr td {
  border-width: 1px;
  border-style: solid;
  border-color: var(--thickhdr-brdr-color);
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 4px;
  padding-right: 4px;
}
table.thickhdr tr:first-child {
  border-width: 3px;
  border-style: solid;
  border-color: var(--thickhdr-theme-color);
  border-left: 0;
  border-top: 0;
  border-right: 0;
}
table.noborderW50 {
  border-width: 1px;
  border-style: none;
  border-color: #000000;
  border-left-width: 1px;
  border-left-style: none;
  border-left-color: #000000;
  border-top-width: 1px;
  border-top-style: none;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: none;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: none;
  border-bottom-color: #000000;
  width: 50%;
}
table.noborderW50 td {
  border-width: 1px;
  border-style: solid;
  border-color: #999999;
  border-left-width: 0;
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
}
img.FloatLeft {
  float: left;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  border-width: 1px;
  border-style: none;
  border-color: #000000;
  border-left-width: 1px;
  border-left-style: none;
  border-left-color: #000000;
  border-top-width: 1px;
  border-top-style: none;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: none;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: none;
  border-bottom-color: #000000;
}
a.glossterm:active {
  font-style: italic;
  color: #ffffff;
}